.contact-detail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 2rem);
}
.contact-details {
  width: 400px;
}
.contact-detail-container h1 {
  font-size: 2rem;
}
.contact-info {
  padding-bottom: 1rem;
}
.contact-info h3 {
  font-size: 1.2rem !important;
  margin-bottom: 1rem;
}
.contact-info h3 span{
  font-weight: 500;
}
