  <mat-card class="contact-details">
    <div>
      <h1>{{contact.firstName}} {{contact.lastName}}</h1>
      <div class="contact-info">
        <h3>Email: <span>{{contact.email}}</span></h3>
        <h3>Phone: <span>{{contact.phone}}</span></h3>
        <h3>Company: <span>{{contact.company}}</span></h3>
      </div>
      <div style="display: flex; justify-content: space-between;">
        <button
        mat-raised-button
        color="primary"
        (click)="onEdit()"

        >Edit Contact</button>
        <button
        mat-raised-button
        color="warn"
        (click)="deleteContact(contact.id || 0)"
        >Delete Contact</button>
      </div>
    </div>
  </mat-card>

